@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(30,41,49);
}

@layer components {
  .navBtn {
    @apply bg-slate-800 shadow cursor-pointer text-white transition-all duration-300 border-none flex items-center justify-center text-lg font-semibold w-[40px] h-[40px] rounded-full;
  }
}